{% extends 'base.html' %}


{% block app_content %}
    <h1>
        Reset Password Request
    </h1>

    <!-- form for requesting password reset  -->
    <form action="" method="post">
        {{ form.hidden_tag() }}

        <div class="mt-3 form-text">Please enter the email address you used for registration.</div>

        <div class="mt-3 mb-3 col-sm-4 form-floating">
            {{ form.email(class="form-control", id="email", placeholder="email") }}
            <label for="email">{{ form.email.label }}</label>
        </div>

        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}
