<table class="table table-hover">
    <thead>
        <tr>
            <td style="border: 0px;">
                <h4 style="font-weight: bold;">{{ table_header }}</h4>
            </td>
            <td style="border: 0px;"></td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align: right;">Current</td>
            <td style="text-align: right;">Rating</td>
        </tr>
    </thead>
    <tbody>
        {% set indicators = fundamental_indicators[table_header] %}
        {% for indicator in indicators %}
            <tr>
                <td>
                    <a href="{{ url_for('stocks.metric_profile', symbol=stock.symbol, metric_name=indicator) }}">
                        {{ indicator }}
                    </a>
                </td>
                {% set value = indicators[indicator]['Current'] %}
                <td style="font-weight: bold;
                           text-align: right;
                           color: {% if value in ('N/A', 'No Debt') %}black
                                  {% elif value < 0 %}red
                                  {% else %}black
                                  {% endif %};">
                    {{ value }}
                    {% if table_header in ('Business Growth', 'Profitability') and value not in ('N/A', 'No Debt') %}
                        %
                    {% endif %}
                </td>
                <td style="text-align: right;">
                    {{ indicators[indicator]['Rating'] }}%
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
