{% extends 'base.html' %}


{% block scripts %}
    {{ super() }}

    {# script to dynamically update stock quote on the page #}
    <script>
        $(
            function() {
                var symbol = $('.stock-symbol').text();
                setInterval(function() {
                    $.ajax(
                        '/quote_polling?symbol=' + symbol
                    ).done(function(payload) {
                        set_quote(symbol, payload.quote.quote_payload)
                    });
                }, 5000);
            }
        );
    </script>

    {# script to update stock valuation graph on the page #}
    <script>
        function set_estimated_return(r) {
            $('#estimated_return').text(r);
            $('#estimated_return').css('color', r>=15 ? 'green' : r>=0 ? 'black' : 'red')
        };

        function plot_valuation(symbol, num_of_years, metric, dest_elem,
                                metric_elem='.current_valuation_metric') {
            // if the input parameter of 'metric' is undefined, get the value 
            // of the metric used by the current page
            if (metric == null) {
                current_metric = $(metric_elem).text().trim();
            }
            else {
                current_metric = metric;
            };

            $.ajax(
                '/update_valuation_plot?symbol=' + symbol + 
                '&num_of_years=' + num_of_years + '&valuation_metric=' + 
                current_metric
            ).done(function(plot) {
                $(dest_elem).html(plot.resources);
                $(dest_elem).html(plot.script);
                $(dest_elem).html(plot.div);
                $(metric_elem).text(current_metric);
                set_estimated_return(plot.estimated_return);
            }).fail(function() {
                $(dest_elem).text('Error: unable to update plot.')
            });  
        };
    </script>
{% endblock %}


{% block app_content %}
    <table class="table">
        <tr>
            <td width="256px" style="border: 0px;">
                <h3>
                    {{ stock.name }} (<span class="stock-symbol">{{ stock.symbol }}</span>)
                </h3>
            </td>
            <td style="border: 0px;">
                <br>
                {% if current_user.is_watching(stock) %}
                    <form action="{{ url_for('stocks.unwatch', symbol=stock.symbol) }}" method="POST">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Unwatch')}}
                    </form>
                {% else %}
                    <form action="{{ url_for('stocks.watch', symbol=stock.symbol) }}" method="POST">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Watch')}}
                    </form>
                {% endif %}
            </td>
        </tr>
    </table>
    <h1>
        <span id="quote-{{ stock.symbol }}-c">
            {{ '{:.2f}'.format(quote.c) }}
        </span>
        <small>
            <span id="quote-{{ stock.symbol }}-d" 
                  style="color: {% if quote.d >= 0 %}green
                                {% else %}red
                                {% endif %};">
                {{ '{:+.2f}'.format(quote.d) }}
            </span>
            (
            <span id="quote-{{ stock.symbol }}-dp" 
                  style="color: {% if quote.d >= 0 %}green
                                {% else %}red
                                {% endif %};">
                {{ '{:+.2f}'.format(quote.dp) }}%
            </span>
            )
        </small>
    </h1>
    <p>
        Market Time: 
        <span id="quote-{{ stock.symbol }}-t">
            {{ quote.t }}
        </span>
    </p>
    <br>

    {# Tabs #}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#summary">Summary</a></li>
        <li><a data-toggle="tab" href="#fundamentals">Fundamentals</a></li>
    </ul>

    {# Define different tab panes #}
    <div class="tab-content">
        <div id="summary" class="tab-pane fade in active">
            <div class="row">
                <div class="col-sm-8">
                    <h3 style="color:orangered">
                        Price Correlated w/ Fundamentals:  
                        <mark>
                            <span class="current_valuation_metric">
                                {{ valuation_metric }}
                            </span>
                        </mark>
                    </h3>
                    <br>
                
                    {# scripts to load BokehJS and plot scripts #}
                    {% if plot %}
                        {# display a dropdown of different metrics for price correlations #}
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" 
                                    data-toggle="dropdown">
                                Price Correlations
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">
                                    Earnings Correlations
                                </li>
                                <li>
                                    <a href="javascript:plot_valuation(
                                        '{{ stock.symbol }}',
                                        null,
                                        'Net Income',
                                        '.valuation-plot'
                                    )">
                                        Diluted Earnings (GAAP)
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown-header">
                                    Intrinsic Value Correlations
                                </li>
                                <li>
                                    <a href="javascript:plot_valuation(
                                        '{{ stock.symbol }}',
                                        null,
                                        'EBITDA',
                                        '.valuation-plot'
                                    )">
                                        EBITDA
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:plot_valuation(
                                        '{{ stock.symbol }}',
                                        null,
                                        'EBIT',
                                        '.valuation-plot'
                                    )">
                                        EBIT
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <br>
                
                        {# display links of all acceptible durations for valuation plotting #}
                        <div class="btn-group btn-group-sm">
                            {% for num_of_years in durations %}
                                <a href="javascript:plot_valuation(
                                    '{{ stock.symbol }}',
                                    '{{ num_of_years }}',
                                    null,
                                    '.valuation-plot'
                                )" class="btn btn-default">
                                    {{ num_of_years }}Y
                                </a>
                            {% endfor %}
                        </div>
                        <br>
                        <br>
                        
                        {# render the plot #}
                        <span class="valuation-plot">
                            {{ plot.resources|safe }}
                            {{ plot.script|safe }}
                            {{ plot.div|safe }}
                        </span>
                    {% else %}
                        <h3>
                            <span style="color: red;">
                                (The stock valuation plot is not available for 
                                {{ stock.symbol }}, due to lack of historical data)
                            </span>
                        </h3>
                    {% endif %}
                </div>
        
                {# display quote details here #}
                <div class="col-sm-4">
                    <table class="table table-hover">
                        <thread>
                            <tr>
                                <th style="border: 0px;">
                                    <h4>
                                        Quote Details
                                    </h4>
                                </th>
                                <th style="border: 0px;"></th>
                            </tr>
                        </thread>
                        <tbody>
                            {% for field in quote_details %}
                                <tr>
                                    <td>{{ field }}</td>
                                    <td style="font-weight:bold">{{ quote_details[field] }}</td>
                                </tr>
                            {% endfor %}

                            {# add another row for estimated annual returns #}
                            <tr>
                                <td>Estimated Annual Return</td>
                                {% if estimated_return %}
                                    <td>
                                        <span id="estimated_return" 
                                            style="font-weight: bold; 
                                                   color: {% if estimated_return>=15 %}green
                                                          {% elif estimated_return>=0 %}black
                                                          {% else %}red
                                                          {% endif %};">
                                            {{ estimated_return }}
                                        </span>%
                                    </td>
                                {% else %}
                                    <td id="estimated_return" 
                                        style="font-weight: bold;">
                                        N/A
                                    </td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {# The Fundamentals Tab #}
        <div id="fundamentals" class="tab-pane fade">
            <div class="col-sm-6">
                {% set table_header = "Financial Strength" %}
                {% include 'stocks/_indicators.html' %}
            </div>
            <div class="col-sm-6">
                {% set table_header = "Business Growth" %}
                {% include 'stocks/_indicators.html' %}
            </div>
            {#
            <div class="col-sm-4">
                {% set table_header = "Profitability" %}
                {% include 'stocks/_indicators.html' %}
            </div>
            #}
        </div>
    </div>
{% endblock %}
