{% extends 'base.html' %}


{% block scripts %}
    {{ super() }}

    {# script to dynamically update stock quote on the page #}
    <script>
        $(
            function() {
                var symbol = $('.stock-symbol').text();
                setInterval(function() {
                    $.ajax(
                        '/quote_polling?symbol=' + symbol
                    ).done(function(payload) {
                        set_quote(symbol, payload.quote.quote_payload)
                    });
                }, 5000);
            }
        );
    </script>

    {# script to update stock valuation graph on the page #}
    <script>
        // global variables
        var valuationTableID = 'valplot-datatable';

        // function to format values in data tables
        function formatValue(val) {
            let codeFormatted = '<span style="font-weight: bold; color: ';
            let color = (val>=0 ? 'black' : 'red');
            codeFormatted += color + '">' + val.toFixed(2) + '</span>';
            return codeFormatted;
        };

        // function to load data tables
        function loadTable(tableID, rowNames, data) {
            // construct the code for the table head
            let thead = '<thead><tr><td>Date</td>';
            $.each(data, function(key, val) {
                thead += '<td>' + key + '</td>';
            });
            thead += '</tr></thead>';

            // construct the code for the table body
            let tbody = '<tbody><tr class="info"><td>' + rowNames[0] + '</td>';
            $.each(data, function(key, val) {
                tbody += '<td>' + formatValue(val) + '</td>';
            });
            tbody += '</tr></tbody>';

            // render the complete html code for the given table
            let tableCode = thead + tbody;
            $('#' + tableID).html(tableCode);
        };

        // render the data table of the underlying metric after loading the page
        $(document).ready(function() {
            // initialization
            symbol = $('.stock-symbol').text();

            // get data via Ajax and load the table on the page
            $.ajax('/stock/' + symbol + '?payload_only=1'
            ).done(function(response) {
                let data = response.valuation_metric_data;
                let rowNames = [$('.current_valuation_metric').text().trim()];
                loadTable(valuationTableID, rowNames, data);
            }).fail(function() {
                $('#' + valuationTableID).html(
                    '<thead><tr><td>Error: data retrival failed.</td></tr> ' + 
                    ' </thead>'
                );
            });            
        });

        // function to set the estimated return value on the page
        function set_estimated_return(r) {
            $('#estimated_return').text(r);
            $('#estimated_return').css('color', r>=15 ? 'green' : r>=0 ? 'black' : 'red')
        };

        function plot_valuation(symbol, num_of_years, metric, dest_elem,
                                metric_elem='.current_valuation_metric') {
            // if the input parameter of 'metric' is undefined, get the value 
            // of the metric used by the current page
            if (metric == null) {
                current_metric = $(metric_elem).text().trim();
            }
            else {
                current_metric = metric;
            };

            $.ajax(
                '/stock/' + symbol + '?payload_only=1' + 
                '&num_of_years=' + num_of_years + '&valuation_metric=' + 
                current_metric
            ).done(function(plot) {
                // render the valuation plot
                $(dest_elem).html(plot.resources);
                $(dest_elem).html(plot.script);
                $(dest_elem).html(plot.div);

                // update the name of the underlying metric for the valuation 
                // plot
                $(metric_elem).text(current_metric);

                // set the estimated return implied by the valuation plot
                set_estimated_return(plot.estimated_return);

                // load the data table used for the valuation plot
                loadTable(valuationTableID, [current_metric], 
                          plot.valuation_metric_data);
            }).fail(function() {
                $(dest_elem).text('Error: unable to update plot.')
            });  
        };
    </script>

    {# scripts to save the current tab locally and get the last active tab on reload #}
    <script>
        $(document).ready(function() {
            // get the current and previous urls
            var currentURL = window.location.href;
            var previousURL = localStorage.getItem('previousURL');
            var collapseItem = '#edit-notes';

            if (currentURL == previousURL) {
                // show the saved last active tab if the request was just a 
                // page reload
                var activeTab = localStorage.getItem('activeTab');
                if (activeTab) {
                    $('#main-tabs a[href="' + activeTab + '"]').tab('show');
                };

                // also show/hide the collapsable content based on the page 
                // state before the reload/form submission
                var collapseShow = localStorage.getItem('collapseShow');
                if (collapseShow == 1) {
                    $(collapseItem).collapse('show');
                };
            } else {
                localStorage.setItem('previousURL', currentURL);
                localStorage.setItem('collapseShow', 0);
            };
            
            // save the active tab in local storage
            $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
                localStorage.setItem('activeTab', $(e.target).attr('href'));
            });

            // update the collapse state once shown
            $(collapseItem).on('show.bs.collapse', function() {
                localStorage.setItem('collapseShow', 1);
            });

            // update the collapse state once hidden
            $(collapseItem).on('hide.bs.collapse', function() {
                localStorage.setItem('collapseShow', 0);
            });
        });
    </script>
{% endblock %}


{% block app_content %}
    <table class="table">
        <tr>
            <td width="256px" style="border: 0px;">
                <h3>
                    {{ stock.name }} (<span class="stock-symbol">{{ stock.symbol }}</span>)
                </h3>
            </td>
            <td style="border: 0px;">
                <br>
                {% if current_user.is_watching(stock) %}
                    <form action="{{ url_for('stocks.unwatch', symbol=stock.symbol) }}" method="POST">
                        {{ empty_form.hidden_tag() }}
                        {{ empty_form.submit(value='Unwatch')}}
                    </form>
                {% else %}
                    <form action="{{ url_for('stocks.watch', symbol=stock.symbol) }}" method="POST">
                        {{ empty_form.hidden_tag() }}
                        {{ empty_form.submit(value='Watch')}}
                    </form>
                {% endif %}
            </td>
        </tr>
    </table>
    <h1>
        <span id="quote-{{ stock.symbol }}-c">
            {{ '{:.2f}'.format(quote.c) }}
        </span>
        <small>
            <span id="quote-{{ stock.symbol }}-d" 
                  style="color: {% if quote.d >= 0 %}green
                                {% else %}red
                                {% endif %};">
                {{ '{:+.2f}'.format(quote.d) }}
            </span>
            (
            <span id="quote-{{ stock.symbol }}-dp" 
                  style="color: {% if quote.d >= 0 %}green
                                {% else %}red
                                {% endif %};">
                {{ '{:+.2f}'.format(quote.dp) }}%
            </span>
            )
        </small>
    </h1>
    <p>
        Market Time: 
        <span id="quote-{{ stock.symbol }}-t">
            {{ quote.t }}
        </span>
    </p>
    <br>

    {# Tabs #}
    <ul class="nav nav-tabs" id="main-tabs">
        <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#summary">Summary</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#fundamentals">Fundamentals</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#mynotes">My Notes</a></li>
    </ul>

    {# Define different tab panes #}
    <div class="tab-content">
        <div id="summary" class="tab-pane container active">
            <!--- code for the summary tab ---> 
            {% include 'stocks/_stock_tab_summary.html' %}
        </div>

        {# The Fundamentals Tab #}
        <div id="fundamentals" class="tab-pane container fade">
            <div class="row">
                <div class="col-sm-6">
                    {% set table_header = "Financial Strength" %}
                    {% include 'stocks/_indicators.html' %}
                </div>
                <div class="col-sm-6">
                    {% set table_header = "Profitability" %}
                    {% include 'stocks/_indicators.html' %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {% set table_header = "Business Growth" %}
                    {% include 'stocks/_indicators.html' %}
                </div>
            </div>
        </div>

        {# The My Notes Tab #}
        <div id="mynotes" class="tab-pane container fade">
            <br>
            <h3>
                {{ current_user.username }}'s notes on {{ stock.name }}
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="collapse" data-bs-target="#edit-notes">Edit</button>
            </h3>

            {# collapse a text editor #}
            <div id="edit-notes" class="collapse">
                {# a form for new notes #}
                <form action="" method="post">
                    {{ note_form.hidden_tag() }}
                    <div class="form-group">
                        {{ note_form.body(class="form-control", placeholder="Enter notes...") }}<br>
                        {% for error in note_form.body.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ note_form.submit() }}
                    </div>
                </form>
                {{ ckeditor.load(pkg_type='standard') }}
                {{ ckeditor.config(name='body') }}
                <br>
            </div>

            {# show existing notes #}
            {% if current_note %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <small class="text-muted">
                            <i>
                                Last updated on {{ moment(current_note.timestamp).format('llll') }}
                            </i>
                        </small>
                    </div>
                    <br>
                    <div class="panel-body">
                        {{ current_note.body | safe | urlize(40, True) }}
                    </div>
                </div>
            {% else %}
            <div class="panel panel-info">
                <div class="panel-body">
                    There are currently no notes available.
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
