<div class="media">
    <div class="media-left">
        <a href="{{ url_for('main.user', username=post.author.username) }}">
            <img src="{{ post.author.avatar(size=70) }}" class="media-object" style="width: 70px;">
        </a>
    </div>
    <div class="media-body">
        <!-- post header -->
        <h4>
            <span class="user_popup">
                <a href="{{ url_for('main.user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
            </span>
            <small>
                <i>
                    said {{ moment(post.timestamp).fromNow() }}:
                </i>
            </small>
        </h4>

        <!-- post body -->
        <p>
            <span id="post{{ post.id }}">
                {{ post.body | urlize(40, true) }}
            </span>
        </p>

        <!-- link for nested posts -->
        <a data-toggle="collapse" href="#replies-{{ post.id }}" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-comment"></span> Comments
        </a>

        <!-- link for reply form -->
        {% if form %}
            <a data-toggle="collapse" href="#reply-form-{{ post.id }}" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-pencil"></span> Reply
            </a>
        {% endif %}

        <!-- link for Ajax translation when needed -->
        {% if post.language and post.language not in g.locale %}
            <span id="translation{{ post.id }}">
                <a href="javascript:translate(
                    '{{ post.language }}',
                    '{{ g.locale }}',
                    '#post{{ post.id }}',
                    '#translation{{ post.id }}'
                )" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-transfer"></span> Translate
                </a>
            </span>
        {% endif %}

        <!-- reply form -->
        <div id="reply-form-{{ post.id }}" class="collapse">
            <br>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.post(cols=50, rows=4, id="comment", class="form-control") }}<br>
                    {% for error in form.post.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.parent_id(type="hidden", value=post.id) }}
                </div>
                <div class="form-group">
                    {{ form.submit() }}
                </div>
            </form>
        </div>

        <!-- nested posts -->
        <div id="replies-{{ post.id }}" class="collapse">
            {% set replies = post.get_replies() %}
            {% if replies %}
                {% for post in replies %}
                    <br>
                    {% include '_post.html' %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
