<!-- render the post form if new original posts are allowed -->
{% if allow_new_op %}
    <form action="" method="post">
        {{ form.hidden_tag() }}

        <div class="mt-3 mb-3 col-sm-6 form">
            {{ form.post(rows=5, id="comment", class="form-control", placeholder="Post your comments here...") }}
            {% for error in form.post.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>

        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endif %}

<br>

<!-- render original posts -->
{% for post in posts if not post.parent %}
    {% include '_post.html' %}
{% endfor %}

<!-- pagination links -->
<ul class="pagination pagination-lg justify-content-center">
    <li class="page-item{% if not prev_url %} disabled{% endif %}">
        <a class="page-link" href="{{ prev_url or '#' }}">
            <span aria-hidden="true">&larr;</span> Newer Posts
        </a>
    </li>
    <li class="page-item{% if not next_url %} disabled{% endif %}">
        <a class="page-link" href="{{ next_url or '#' }}">
            Older Posts <span aria-hidden="true">&rarr;</span>
        </a>
    </li>
</ul>
