<div class="media">
    <div class="media-left">
        <a href="{{ url_for('main.user', username=post.author.username) }}">
            <img src="{{ post.author.avatar(size=70) }}" class="media-object" style="width: 70px;">
        </a>
    </div>
    <div class="media-body">
        <!-- post header -->
        <h4>
            <span class="user_popup">
                <a href="{{ url_for('main.user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
            </span>
            <small>
                <i>
                    said {{ moment(post.timestamp).fromNow() }}:
                </i>
            </small>
        </h4>

        <!-- post body -->
        <p>
            <span id="post{{ post.id }}">
                {{ post.body | urlize(40, true) }}
            </span>
        </p>

        <!-- link for Ajax translation when needed -->
        {% if post.language and post.language not in g.locale %}
            <span id="translation{{ post.id }}">
                <a href="javascript:translate(
                    '{{ post.language }}',
                    '{{ g.locale }}',
                    '#post{{ post.id }}',
                    '#translation{{ post.id }}'
                )">
                    Translate
                </a>
            </span>
        {% endif %}

        <!-- nested posts -->
        {% set replies = post.get_replies() %}
        {% if replies %}
            {% for post in replies %}
                {% include '_post.html' %}
            {% endfor %}
        {% endif %}
    </div>
</div>
