{% extends 'bootstrap/base.html' %}


{% block title %}
    {% if title %}
        {{ title }} - Wei's Investment Research
    {% else %}
        Welcome to Wei's Investment Research!
    {% endif %}
{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Wei's Investment Research</a>
            </div>
            <div class="collapse navbar-collapse" id="#bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">Home</a></li>
                    <li><a href="{{ url_for('main.explore') }}">Explore</a></li>
                    <li><a href="{{ url_for('main.watchlist') }}">Watchlist</a></li>
                </ul>
                {% if g.search_form %}
                    <form class="navbar-form navbar-left" action="{{ url_for('main.search_stocks') }}" method="GET">
                        <div class="form-group">
                            {{ g.search_form.q(size=20, class='form-control', placeholder='Search Stocks') }}
                        </div>
                    </form>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    {% else %}
                        <li>
                            <a href="{{ url_for('main.messages') }}">
                                Messages
                                {% set new_messages = current_user.new_messages() %}
                                <span id="message_count" class="badge" 
                                    style="visibility: {% if new_messages %}visible
                                                       {% else %}hidden{% endif %};">
                                    {{ new_messages }}
                                </span>
                            </a>
                        </li>
                        <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}


{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}

    {# function to handle dynamic user post translations #}
    <script>
        function translate(source_lang, dest_lang, source_elem, dest_elem) {
            $(dest_elem).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
            $.post('/translation', {
                text: $(source_elem).text(),
                source_language: source_lang,
                dest_language: dest_lang
            }).done(
                function(response) {
                    $(dest_elem).text(response.text);
                }
            ).fail(
                function() {
                    $(dest_elem).text('Error: unable to contact server.');
                }
            );
        }
    </script>

    {# script to enable user popup information for all user links on the page #}
    <script>
        $(function() {
            var timer = null;
            var xhr = null;

            // attach a user popup hover event to user links using jQuery
            $('.user_popup').hover(
                function(event) {
                    // mouse in event handler
                    var elem = $(event.currentTarget);
                    timer = setTimeout(
                        function() {
                            timer = null;
                            // popup logic
                            xhr = $.ajax(
                                '/user/' + elem.first().text().trim() + '/popup').done(
                                    function(data) {
                                        xhr = null;
                                        // popup creation
                                        elem.popover({
                                            trigger: 'manual',
                                            html: true,
                                            animation: false,
                                            container: elem,
                                            content: data
                                        }).popover('show');
                                        flask_moment_render_all();
                                    }
                                );
                        }, 1000
                    );
                },
                function(event) {
                    // mouse out event handler
                    var elem = $(event.currentTarget);

                    // reset the timer if there still is one
                    if (timer) {
                        clearTimeout(timer);
                        timer = null;
                    }
                    // abort the Ajax request if still loading
                    else if (xhr) {
                        xhr.abort();
                        xhr = null;
                    }
                    // destroy popup here
                    else {
                        elem.popover('destroy');
                    };
                }
            );
        });
    </script>

    {# script to dynamically badge message count & update task progress #}
    <script>
        // helper function to set message count for the designated DOM element
        function set_message_count(n) {
            $('#message_count').text(n);
            $('#message_count').css('visibility', n ? 'visible' : 'hidden');
        }

        // helper function to set task progress for the designated DOM element
        function set_task_progress(task_id, progress) {
            $('#' + task_id + '-progress').text(progress);
        }

        // function to update the badge for unread messages via Ajax calls
        $(function() {
            var since = 0.0;
            setInterval(function() {
                $.ajax('/notifications?since=' + since).done(function(notifications) {
                    for (var i=0; i < notifications.length; i++) {
                        switch(notifications[i].name) {
                            case 'unread_message_count':
                                set_message_count(notifications[i].data);
                                break;
                            case 'task_progress':
                                set_task_progress(notifications[i].data.task_id,
                                                  notifications[i].data.progress);
                                break;
                        };
                        since = notifications[i].timestamp;
                    };
                });
            }, 5000);
        });
    </script>

    {# script to dynamically update stock quotes via straight polling #}
    <script>
        function set_quote(symbol, current_price, market_timestamp) {
            $('#quote-' + symbol + '-' + 'c').text(current_price);
            $('#quote-' + symbol + '-' + 't').text(market_timestamp);
        }

        $(
            // Debug
            set_quote('AAPL', 1000, 'Hello')
            // End Debug
        );
    </script>
{% endblock %}


{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {# display task progress #}
        {% if current_user.is_authenticated %}
            {% set tasks = current_user.get_tasks_in_progress() %}
            {% if tasks %}
                {% for task in tasks %}
                    <div class="alert alert-success" role="alert">
                        {{ task.description }}
                        <span id="{{ task.id }}-progress">
                            {{ task.get_progress() }}
                        </span>
                        %
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
