{% extends 'base.html' %}


{% block app_content %}
    <div class="pt-5 rounded">
        <h1>
            Send message to {{ recipient }}
        </h1>
    </div>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="col-sm-6 mb-3 mt-3">
            {{ form.body(class="form-control", rows="5", placeholder="Type in your message here...") }}<br>
            {% for error in errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        {{ form.submit(class="btn btn-secondary") }}
    </form>
{% endblock %}
