{% extends 'base.html' %}


{% block scripts %}
    {{ super() }}

    <script>
        // dynamically dupdate stock quote data on the page
        $(
            function() {
                var symbol = $('.stock-symbol').text();
                setInterval(function() {
                    $.ajax('/quote_polling?symbol=' + symbol).done(function(payload) {
                        set_quote(symbol, payload.quote.quote_payload)
                    });
                }, 5000);
            }
        );
    </script>
{% endblock %}


{% block app_content %}
    <table class="table">
        <tr>
            <td width="256px" style="border: 0px;">
                <h3>
                    {{ stock.name }} (<span class="stock-symbol">{{ stock.symbol }}</span>)
                </h3>
            </td>
            <td style="border: 0px;">
                <br>
                {% if current_user.is_watching(stock) %}
                    <form action="{{ url_for('main.unwatch', symbol=stock.symbol) }}" method="POST">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Unwatch')}}
                    </form>
                {% else %}
                    <form action="{{ url_for('main.watch', symbol=stock.symbol) }}" method="POST">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Watch')}}
                    </form>
                {% endif %}
            </td>
        </tr>
    </table>
    <h1>
        <span id="quote-{{ stock.symbol }}-c">
            {{ '{:.2f}'.format(quote.c) }}
        </span>
        <small>
            <span id="quote-{{ stock.symbol }}-d" 
                  style="color: {% if quote.d >= 0 %}green
                                {% else %}red
                                {% endif %};">
                {{ '{:+.2f}'.format(quote.d) }}
            </span>
            (
            <span id="quote-{{ stock.symbol }}-dp" 
                  style="color: {% if quote.d >= 0 %}green
                                {% else %}red
                                {% endif %};">
                {{ '{:+.2f}'.format(quote.dp) }}%
            </span>
            )
        </small>
    </h1>
    <p>
        Market Time: 
        <span id="quote-{{ stock.symbol }}-t">
            {{ quote.t }}
        </span>
    </p>
    <br><br>
    {# scripts to load BokehJS and plot scripts #}
    {{ plot.resources|safe }}
    {{ plot.script|safe }}
    {{ plot.div|safe }}
{% endblock %}
