{% extends 'base.html' %}


{% block app_content %}
<h1>
    <span class="watchlist">
        {{ user.username }}'s Stock Watchlist:
    </span>
</h1>
<br><br>
<table class="table table-hover table-striped">
    <thead>
        <th scope="col">Symbol</th>
        <th scope="col">Last Price</th>
        <th scope="col">Change</th>
        <th scope="col">Change %</th>
        <th scope="col">Currency</th>
        <th scope="col">Market Time</th>
    </thead>
    <tbody>
        {% for stock_quote in stock_quotes %}
            <tr>
                <th scope="row">
                    <a href="{{ url_for('main.stock', symbol=stock_quote.stock.symbol) }}">
                        {{ stock_quote.stock.symbol }}
                    </a>
                </th>
                <td>
                    <span id="quote-{{ stock_quote.stock.symbol }}-c">
                        {{ '{:.2f}'.format(stock_quote.quote.c) }}
                    </span>
                </td>
                <td>
                    <span id="quote-{{ stock_quote.stock.symbol }}-d"
                          style="color: {% if stock_quote.quote.d > 0 %}green
                                        {% elif stock_quote.quote.d < 0 %}red{% else %}black{% endif %};">
                        {{ '{:+.2f}'.format(stock_quote.quote.d) }}
                    </span>
                </td>
                <td>
                    <span id="quote-{{ stock_quote.stock.symbol }}-dp"
                          style="color: {% if stock_quote.quote.dp > 0 %}green
                                        {% elif stock_quote.quote.dp < 0 %}red{% else %}black{% endif %};">
                        {{ '{:+.2f}'.format(stock_quote.quote.dp) }}%
                    </span>
                </td>
                <td>{{ stock_quote.quote.currency}}</td>
                <td>
                    <span id="quote-{{ stock_quote.stock.symbol }}-t">
                        {{ stock_quote.quote.t }}
                    </span>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
